{{define "Main"}}
<!DOCTYPE html>
<title>Web Tracer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery{{if not debug}}.min{{end}}.js"></script>
<link href="/css/style{{if not debug}}.min{{end}}.css" rel="stylesheet" media="screen">
<script src="/js/script{{if not debug}}.min{{end}}.js"></script>
<body onload="onBodyLoad()">
  <div class="controls">
    <div class="btn-group">
      <button id="save" class="btn">Save Scene</button>
      <button id="load" class="btn">Load Scene</button>
    </div>
    <div id="options">
    </div>
    <div id="tab-up" class="tab">
      ▲
    </div>
    <div id="tab-down" class="tab">
      ▼
    </div>
  </div>
  <div class="image-container">
  </div>
</body>
{{end}}
