{{define "Main"}}
<!DOCTYPE html>
<title>Web Tracer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<link href="/css/style{{if not debug}}.min{{end}}.css" rel="stylesheet" media="screen">
<script src="/js/script{{if not debug}}.min{{end}}.js"></script>
<script src="/js/jquery.imagedrag{{if not debug}}.min{{end}}.js"></script>
<body onload="onBodyLoad()">
  <div id="controls">
    <div class="btn-group">
      <a id="save" class="btn">Save Scene</a>
      <button id="load" class="btn">Load Scene</button>
      <input type="file" id="load-file" name="file-to-load" class="btn" style="display:none"/>
      <button id="render" class="btn">Render</button>
    </div>
    <div id="options">
    </div>
    <div id="tab-up" class="tab option-tab">
      Options ▲
    </div>
    <div id="tab-down" class="tab option-tab">
      Options ▼
    </div>
  </div>
  <div id="history">
    <div id="history-list">
    </div>
    <div id="history-tab-up" class="tab history-tab">
      History ▲
    </div>
    <div id="history-tab-down" class="tab history-tab">
      History ▼
    </div>
  </div>
  <div class="image-container">
  </div>
  <div id="zoom-div">
    <input id="zoom" type="range"/>
    <button id="reset" class="btn">Reset</button>
  </div>
  <div id="animation" style="display:none">
    Rendering...
  </div>
</body>
{{end}}
