body {
    background: #111;
    margin: 0px;
}

.image-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

.image-container img {
    width: inherit;
    cursor: move;
}

.controls {
    width: 350px;
    position: fixed;
    padding: 10px;
    color: white;
}

#options,.tab {
    background-color: rgba(0, 0, 0, 0.6);
}

.tab {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    margin-top: 4px;
}

#tab-down {
    display: none;
}

.btn {
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.8;
    margin-bottom: 5px;
    color: white;
    -webkit-user-select: none;
}

.btn:hover {
    opacity: 1.0;
    cursor: pointer;
}

.toggle-button {
    width: 100%;
}

.toggle-button-down {
    background-color: lightgrey;
}

.toggle-button-up {
    opacity: 0.3;
}

#options {
    overflow: scroll;
    height: 600px;
    border: 2px solid grey;
    border-radius: 10px;
}

.go-struct {
    margin-bottom: 3px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 10px;
}

.go-struct-field {
    display: inline-block;
    margin: 5px;
}

.go-slice {
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 10px;
    display: block;
}

.go-slice li {
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 3px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-radius: 10px;
    list-style-type: none;
}

.go-struct-field > label {
    cursor: pointer;
}

input {
    border-radius: 5px;
    margin-left: 2px;
}

select {
    border-radius: 5px;
}

#zoom {
    color: white;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 10px;
}
